/**
 * Base styles applied regardless of the screen size
 *
 * @package %Theme_Name%
 * @author %Author%
 */

 * {
  @include box-sizing(border-box);
 }

/** Base typography */
body {
  font-family: $body-font-family;
  line-height: $body-line-height;
  color: $body-text-color;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1em;
  font-family: $heading-font-family;
  color: $heading-color;
}

ol, ul, dl, p, blockquote, img {
  margin-bottom: $body-line-height;
}

ol, ul {
  margin-left: 1.4em;
}

a {
  text-decoration: underline;
  color: $link-color;
  @include transition(all, $link-transition-speed);
  &:hover, &:focus, &:active {
    color: $link-hover-color;
  }
}

/** Inputs */
input {
  &[type=text],
  &[type=password],
  &[type=phone],
  &[type=number]
  &[type=password] {
    width: 300px;
    height: 44px;
    border: 1px solid #ccc;
    @include border-radius(3px);
    padding: 0 10px;
  }
}

/** Images */
img {
  display: inline-block;
  width: auto;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

a img, img {
  &.alignright {
    float:right;
    margin:0 0 1em 1em;
  }

  &.alignleft {
    float:left;
    margin:0 1em 1em 0;
  }

  &.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

/** Utility classes */
.screen-reader-text {
  position: absolute;
  left: -99999em;
}

.clearfix {
  zoom: 1;
  &:before, &:after {
    content: '';
    display: table;
  }
}

.clear, .clearfix:after {
  clear: both;
}

.widget-title {
  font-size: 1.3em;
  margin: 1em 0 .25em;
}

/** Buttons */
.btn {
  display: inline-block;
  text-decoration: none;
  padding: .5em 1em;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  @include user-select('none');
  background: $color-cta;
  border: 1px solid transparent;
  color: #fff;

  &:hover {
    color: #fff;
    background: tint($color-cta, 10%);
  }
}

/** Structure */
.container {
  @extend .clearfix;
  @include box-sizing(content-box);
  max-width: $container-max-width;
  margin: 0 auto;
  padding: 0 $container-padding;
}

.primary, .secondary, .col {
  margin-bottom: $body-line-height;
}

.row {
  @include display-flex;
}

/** Header and footer */
header, footer {
  @extend .container;
}

/** Content styles */
#content {
  @extend .clearfix;
  @extend .container;
}

/** Page Top Banner */
.page-top-wrapper {
}

.page-top-banner {
  position: relative;
  height: $page-top-banner-height;
  overflow: hidden;
  background: #000;

  .background {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    background-size: cover;
  }

  .container {
    position: relative;
    z-index: 2;
  }

  h1 {
    color: #fff;
    line-height: $page-top-banner-height;
    text-shadow: 0px 0px 7px #999;
  }
}

/** Media queries */
